{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="margin-top:100px">

  <div id="block-part">
    <div class="headline">
      <h3>{{ idNews.Subject }}</a></h3>
    </div>

      <div class="block-topic clearfix">
        <div class="col-md-4">
          <h5>{{ idNews.author }}</h5>
        </div>
        <div class="col-md-8">
          <p class="date-author">{{ idNews.date|date('Y-m-d') }}</p>
          <p>{{ idNews.text }}</p>
        </div>
      </div>
    </div>
    <div class="response">

    </div>
  </div>
{% endblock %}
