{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="margin-top:100px">

  <div id="block-part">
    <div class="headline">
      <h2>Communauté</h2>
      <p>Tous les événement liés à la communauté c'est ici, présentez vous d'abord</p>
    </div>
    <div class="category">
      <div class="block">
        <h3><a href="/rules">Réglement et généralités</a></h3>
        <p>Les règles de base à respecter</p>
      </div>
      <div class="block">
        <h3><a href="/presentation">Présentation</a></h3>
        <p>Commencer ici</p>
      </div>
      <div class="block">
        <h3><a href="/news">News</a></h3>
        <p>Les nouveautés du forum</p>
      </div>
    </div>
  </div>

  <div id="block-part">
    <div class="headline">
      <h2>Making</h2>
      <p>Tout le savoir faire des Making RPG</p>
    </div>
    <div class="category">
      <div class="block">
        <h3><a href="/tuto">Tutoriels</a></h3>
        <p>Apprenez le mapping</p>
      </div>
      <div class="block">
        <h3><a href="/resources">Ressources</a></h3>
        <p>Télécharger des tilesets pour vos projets</p>
      </div>
      <div class="block">
        <h3><a href="/sharing">Entraide</a></h3>
        <p>Besoin de quelqu'un pour mapper une carte de votre projet ?</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
